@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container::-webkit-scrollbar {
  display: none;
}

.card-container:nth-child(1) { animation-delay: 0s; }
.card-container:nth-child(2) { animation-delay: 300ms; }
.card-container:nth-child(3) { animation-delay: 2000ms; }

html,
body,
*,
::before,
::after {
  font-family: var(--font-rubik);
}

:root {
  --icon_max_dimension: 80%
}

.focused-button {
  position: relative;
  overflow: hidden;
  outline: none;
  padding: .5rem .75rem;
}

.focused-button:focus::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 9999px;
  transform: translate(-50%, -50%);
  height: 125%;
  width: 30%;
  animation:
    grow 150ms normal forwards,
    ripple 1300ms infinite alternate cubic-bezier(.6, 0.3, 0.2, .8) 0ms;
  background: #ff664e90;
}

.link-hover {
  position: relative;
  overflow: hidden;
}

.link-hover::before {
  content: '';
  position: absolute;
  background: #000000;
  flex: none;
  height: 2px;
  width: 0;
  left: 50%; 
  transform: translateX(-50%);
  bottom: 5px;
  transition: all 200ms ease;
}

.link-hover:hover::before {
  width: calc(100% - 22px); 
  height: 2px;
}


.focused-icon {
  position: relative;
  overflow: hidden;
  outline: none;
  padding: .5rem;
}

.focused-icon:focus::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 9999px;
  transform: translate(-50%, -50%);
  height: var(--icon_max_dimension);
  width: var(--icon_max_dimension);
  animation:
    iconGrow 200ms normal forwards,
    iconRipple 1300ms infinite alternate cubic-bezier(.6, 0.3, 0.2, .8) 0ms;
  background: #ff664e90;
}

.card:hover .card-inner {
  transform: rotateY(-180deg)
}

.card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  /*for card flip only*/
  transition: transform 800ms cubic-bezier(.4, .4, 0, 1);
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.face-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.face-back {
  transform: rotateY(180deg);
}

.card:hover div .card-image {
  transform: scale(1.2);
  transition: transform 925ms cubic-bezier(.18, .11, .24, .99);
  transition-delay: 100ms;
}

.card-image {
  transition: transform 200ms ease;
}

.is-flipped {
  transform: rotateY(180deg)
}

.content-appear {
  transform: translateY(20px);
  opacity: 0;
  animation-timing-function: linear;
  animation: contentAppear 1000ms ease forwards;
  animation-delay: 1250ms;
}

.divider-appear {
  transform: scale(0, 1);
  animation-timing-function: linear;
  will-change: transform;
  animation: dividerAppear 1000ms cubic-bezier(.4,.4,0,1) forwards;
  animation-delay: 1000ms;
}

/* BEGIN ANIMATIONS */
@keyframes ripple {
  from {
    transform: translate(-50%, -50%) scale(1.1);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes grow {
  from {
    width: 30%;
    height: 30%;
  }

  to {
    width: 75%;
  }
}

@keyframes iconRipple {
  from {
    transform: translate(-50%, -50%) scale(1.1);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes iconGrow {
  from {
    width: 30%;
    height: 30%;
  }

  to {
    width: var(--icon_max_dimension)
  }
}

@keyframes contentAppear {
  from {
    
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dividerAppear {
  to {
    transform: scale(.99, 1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 500ms 1250ms ease-in-out forwards;
}